.Footer {
  &__links {
    border-radius: 10px;
    margin: 0 30px;
    transition: 0.3s ease-in all;
    font: normal normal normal 18px/42px "Reg";
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 0.8;
    &:hover {
     
      color: #ffffffb6;
    }
    @include respond(sm) {
      font-size: 14px;
      margin: 0 10px;
    }
  }
  p {
    font: normal normal 16px/42px "Reg";
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 0.8;
  }
  span {
    font: normal normal 18px/42px "Reg";
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 0.8;
  }
}
