.Header {
  &__btn {
    cursor: pointer;
    transition: 0.5s ease-in all;
    &:hover {
      stroke: #f24200;
    }
    &:hover path {
      stroke: #f24200;
    }
    @include respond(md) {
      width: 109px;
      height: 30px;
    }
    &home{
        &:hover {
            stroke: #f24200;
          }
          &:hover path {
            stroke: #f24200;
          }
    }
    &agency{
        &:hover {
            stroke: #FF156F;
          }
          &:hover path {
            stroke: #FF156F;
          }
    }
    &service{
        &:hover {
            stroke: #0FF1CA;
          }
          &:hover path {
            stroke: #0FF1CA;
          }
    }
    &work{
        &:hover {
            stroke: #F2B100;
          }
          &:hover path {
            stroke: #F2B100;
          }
    }
    &info{
        &:hover {
            stroke: #fff;
          }
          &:hover path {
            stroke: #fff;
          }
    }
  }
}