.Agency {
  &__Section2 {
    background-image: url("../../assets/Agency/about-us-second-video.webp");
    width: 100%;
    height: 100vh;

    @include respond(md) {
      height: 60vh;
    }
    @include respond(sm) {
      height: 50vh;
    }
    @include respond(xs) {
      height: 40vh;
    }
  }

  // ------------ card -----------------
  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__img1,
    &__img2,
    &__img3,
    &__img4,
    &__img5,
    &__img6,
    &__img7 {
      width: 600px;
      height: 750px;
      margin: 150px 10px;
      transition: 0.3s ease-in all;
      &:hover {
        transform: scale(1.1);
      }
      @include respond(lg) {
        width: 450px;
        height: 600px;
        margin: 100px 10px;
      }
      @include respond(md) {
        margin: 70px auto;
      }
      @include respond(sm) {
        width: 300px;
        height: 450px;
        margin: 40px auto;
      }
    }
    &__img1 {
      background-image: url("../../assets/Agency/photo1.png");
    }
    &__img2 {
      background-image: url("../../assets/Agency/photo2.png");
    }
    &__img3 {
      background-image: url("../../assets/Agency/photo3.png");
    }
    &__img4 {
      background-image: url("../../assets/Agency/photo4.png");
    }
    &__img5 {
      background-image: url("../../assets/Agency/photo5.png");
    }
    &__img6 {
      background-image: url("../../assets/Agency/photo6.png");
    }
    &__img7 {
      background-image: url("../../assets/Agency/photo7.png");
    }
    h6 {
      font-size: 20px;
      font-family: "Med";
    }
    h2 {
      font-size: 34px;
      font-family: "Med";
    }
    p {
      font: normal normal 300 18px/33px "Li";
    }
  }

  // ------------ Team -------------------
  &-Team {
    & > div:first-child {
      transform: translateY(100px);
      @include respond(lg) {
        transform: translateY(0px);
      }
    }
    h5 {
      font-size: 28px;
      font-family: "Reg";
    }
  }

  // ------------ Text ----------------
  &-Text {
    margin-top: -50px;
    padding: 80px 0;
    background-image: url("../../assets/Home/grain.jpg");
    width: 100%;
    height: fit-content;
    border-bottom: 1px solid rgba(255, 255, 255, 0.105);
    border-top: 1px solid rgba(255, 255, 255, 0.105);
    p {
      font-size: 75px;
      font-family: "Med";
    }
  }

  // -------------  Services -------------
  &__Service {
    h5 {
      font-size: 28px;
      font-family: "Reg";
    }
    h4 {
      font-size: 45px;
      font-family: "Med";
    }
    p {
      font-size: 20px;
      font-family: "Reg";
    }
  }

  // ---------- -OurStory -------------
  &-OurStory {
    h5 {
      font-size: 28px;
      font-family: "Reg";
    }
    h4 {
      font-size: 45px;
      font-family: "Med";
    }
    p {
      font-size: 20px;
      font-family: "Reg";
    }
  }

  &__Scroll {
    background-image: url("../../assets/Home/grain.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.226);
    &>div{

    }
    &-focus {
      color:rgba(255, 255, 255, 0.229);
      text-align: center;
      margin: 20px 0;
      font-size: 75px;
      font-family: "Med";
      @include respond(md){
        font-size: 35px;
      }
      &10 {
        color: white;
        transition: 0.5s ease-in all;
       /*  font-size: 80px; */
        @include respond(md){
          font-size: 38px;
        }
      }
      &21 {
        transition: 0.5s ease-in all;
        color: white;
        /* font-size: 80px; */
        @include respond(md){
          font-size: 38px;
        }
      }
      &32 {
        transition: 0.5s ease-in all;
        color: white;
        /* font-size: 80px; */
        @include respond(md){
          font-size: 38px;
        }
      }
      &43 {
        transition: 0.5s ease-in all;
        color: white;
        /* font-size: 80px; */
        @include respond(md){
          font-size: 38px;
        }
      }
    }
  }
}
