.Service {
  &__hero {
    background-image: linear-gradient(to right, #00000093, #00000093),
      url("../../assets/Services/alesia-kazantceva-XLm6-fPwK5Q-unsplash.jpg");
    h1{
      font: normal normal  60px/68px "Reg";
    }
    p{
      font: normal normal  22px/28px "Reg";
    }
  }
  &-Cards {
    display: flex;
    flex-direction: column;
    &__box {
      background-image: url("../../assets/Home/grain.jpg");
      padding: 30px 50px;
      margin: 70px auto;
      @include respond(md){
        margin: 30px auto;
        padding: 20px;
      }
      h5 {
        display: flex;
        border-bottom: 1px solid white;
        padding-bottom: 30px;
        font-size: 25px;
      }
      h2{
        font: normal normal  45px/88px "Med";
      }
      p{
        font: normal normal  18px/30px "Reg";
      }
    }
    &A1{
        background-image: url("../../assets/Services/phone-mockup.png");
        width: 500px;
        height: 450px;
        @include respond(sm){
            width: 310px;
            height: 300px;
        }
    }
    &A2{
        background-image: url("../../assets/Services/llaptopi2.png");
        width: 500px;
        height: 450px;
        @include respond(sm){
            width: 320px;
            height: 300px;
        }
    }
    &A3{
        background-image: url("../../assets/Services/isnta.png");
        width: 500px;
        height: 450px;
        @include respond(sm){
            width: 320px;
            height: 300px;
        }
    }
    &A4{
        background-image: url("../../assets/Services/Business.png");
        width: 500px;
        height: 450px;
        @include respond(sm){
            width: 320px;
            height: 300px;
        }
    }
  }


  // -------------- TextInfo ---------------
  &__TextInfo{
    h3{
      font: normal normal 120px/140px "Med";
    }
    p{
      font: normal normal 300 32px/45px "Li";
    }
  }
}

.HrLine{
  position: absolute;
  transform: translate(38vw, -18vh);
  @include respond(sm){
    height: 150px !important;
  }
}
