.Service {
  &__hero {
    background-image: linear-gradient(to right, #00000065, #00000065),
      url("../../assets/Services/alesia-kazantceva-XLm6-fPwK5Q-unsplash.jpg");
    & > div:first-child > div:first-child svg {
      transform: translate(-30px, 55px);
    }
    h1 {
      font: normal normal 120px/148px "Reg";
      @include respond(md) {
        font-size: 35px;
        line-height: 50px;
      }
    }
    p {
      font: normal normal 22px/37px "Reg";
      @include respond(md) {
        font-size: 20px;
      }
    }
  }
  &-Cards {
    display: flex;
    flex-direction: column;
    &__box {
      background-image: url("../../assets/Home/grain.jpg");
      padding: 50px;
      margin: 70px 0;
      @include respond(md) {
        margin: 30px auto;
        padding: 20px;
      }
      h5 {
        display: flex;
        border-bottom: 1px solid white;
        padding-bottom: 30px;
        font: normal normal 25px/54px "Reg";
        @include respond(md) {
          font-size: 18px;
        }
      }
      h2 {
        font: normal normal 45px/88px "Med";
        @include respond(md) {
          font-size: 25px;
        }
      }
      p {
        font: normal normal 18px/30px "Reg";
        @include respond(md) {
          font-size: 15px;
          
        }
      }
    }
    &A1 {
      background-image: url("../../assets/Services/web.png");
      width: 510px;
      height: 400px;
      transform: scale(1.3);
      @include respond(sm) {
        width: 310px;
        height: 300px;
        transform: scale(1);
      }
    }
    /*     &A2{
        background-image: url("../../assets/Services/llaptopi2.png");
        width: 500px;
        height: 450px;
        transform: scale(1.3);
        z-index: 50;
        @include respond(sm){
            width: 320px;
            height: 300px;
            transform: scale(0.96);
        }
    } */
    &A2 {
      background-image: url("../../assets/Services/branding.png");
      width: 600px;
      height: 420px;
      position: absolute;
      transform: scale(1.3);
      margin-right: 20px;
      @include respond(sm) {
        width: 320px;
        height: 300px;
        transform: scale(0.96);
      }
    }
    &B2 {
      background-image: url("../../assets/Services/Business.png");
      width: 400px;
      height: 500px;
      position: absolute;
      transform: translateY(-100px);
      margin-left: 50px;
      @include respond(sm) {
        width: 320px;
        height: 300px;
        transform: translateY(-10px);
      }
    }
    &A3 {
      background-image: url("../../assets/Services/isnta.png");
      width: 500px;
      height: 450px;
      transform: scale(1.3);
      z-index: 10;
      @include respond(sm) {
        width: 320px;
        height: 300px;
        transform: scale(0.96);
      }
    }
    &B3 {
      background-image: url("../../assets/Services/fletore.png");
      width: 500px;
      height: 450px;
      transform: scale(1.3);
      @include respond(sm) {
        width: 320px;
        height: 300px;
        transform: scale(0.96);
      }
    }
    &A4 {
      background-image: url("../../assets/Services/llaptopi2.png");
      width: 680px;
      height: 450px;
      transform: scale(1.3);
      @include respond(sm) {
        width: 320px;
        height: 300px;
        transform: scale(0.96);
      }
    }
    &B4 {
      background-image: url("../../assets/Services/credit-card.png");
      width: 420px;
      height: 300px;
      position: absolute;
      transform: translate(50px, 100px);
      @include respond(sm) {
        width: 320px;
        height: 300px;
        transform: translate(20px, 50px);
      }
    }
    &A5 {
      background-image: url("../../assets/Services/seo.png");
      width: 480px;
      height: 400px;
      transform: scale(1.2);
      z-index: 10;
      @include respond(sm) {
        width: 320px;
        height: 300px;
        transform: scale(0.96);
      }
    }
    /* &B5 {
      background-image: url("../../assets/Services/fletore.png");
      width: 500px;
      height: 450px;
      transform: scale(1.3);
      @include respond(sm) {
        width: 320px;
        height: 300px;
        transform: scale(0.96);
      }
    } */
    &__row1,
    &__row3 {
      flex-direction: row;
      @include respond(md) {
        flex-direction: column;
      }
    }
    &__row2,
    &__row4 {
      flex-direction: row-reverse;
      @include respond(md) {
        flex-direction: column;
      }
    }
  }

  // -------------- TextInfo ---------------
  &__TextInfo {
    h3 {
      font: normal normal 120px/140px "Med";
      @include respond(md) {
        font-size: 30px;
        line-height: 40px;
      }
    }
    p {
      font: normal normal 300 32px/45px "Li";
      @include respond(md) {
        font-size: 22px;
        line-height: 30px;
      }
    }
  }
}

.HrLine {
  position: absolute;
  transform: translate(38vw, -18vh);
  @include respond(sm) {
    height: 150px !important;
  }
}
