.Work {
  &__hero {
    background-image: linear-gradient(to right, #00000093, #00000093),
      url("../../assets/Work/grain.jpg");
    & > div:first-child > div:first-child svg {
      transform: translate(-30px, 55px);
    }
    h1 {
      font: normal normal  120px/148px "Med";
      @include respond(md) {
       font-size: 38px;
       line-height: normal;
      }
    }
    p {
      font: normal normal  22px/37px "Reg";
      @include respond(md) {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }

  // -----------------DotAgency-------------------
  &-DotAgency {
    padding-bottom: 100px;
    border-bottom: 1px solid white;
    transition: 0.4s ease-in all;
    &__img {
      background-image: url("../../assets/Work/Group3800.png");
      width: 600px;
      height: 520px;
      transition: 0.4s ease-in all;
     /*  transform: scale(1.25) !important; */
      position: absolute;
      @include respond(sm) {
        height: 280px;
        transform: scale(1) !important;
      }
    }
    h1{
      font: normal normal  100px/123px "Reg";
      @include respond(md) {
        font-size: 35px;
        line-height: 30px;
      }
    }
    p{
      font: normal normal  22px/37px "Reg";
      @include respond(md) {
        font-size: 18px;
        line-height: 30px;
      }
    }
    h3{
      font: normal normal  45px/55px"Reg";
      @include respond(md) {
        font-size: 30px;
        line-height: 30px;
      }
    }
  }

  // --------------- ContactInfo ---------------------
  &-ContactInfo{
    h3{
      font: normal normal  45px/65px "Med";
      @include respond(md) {
        font-size: 30px;
        line-height: 30px;
      }
    }
    p{
      font: normal normal  18px/35px "Reg";
    }
    border-top: 1px solid rgba(255, 255, 255, 0.158);
    border-bottom: 1px solid rgba(255, 255, 255, 0.151);
  }

  &-HrLine {
    position: absolute;
    transform: translate(16vw, -13vh);
    height: 240px !important;
    @include respond(sm) {
      height: 150px !important;
    }
  }
}
