.BG{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

    .slick-slider > button {
        display: none !important;
    }


.Btn-Class:hover{
    animation-duration: 3s;
    animation-name: BtnEffect;
    text-transform: uppercase;
}

.Btn-Class__active{
    text-transform: uppercase;
}