@font-face {
    font-family: 'MyFont';
    src:  url('../../assets/font/ClashDisplay-Medium.otf') format('otf'),
        
}

.Menu{
    width: 98vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
   /*  @include respond(md){
        width: 95vw;
    } */
    &__icon{
        position: fixed;
        display: block !important;
        transition: 0.3s ease-in-out all;
        cursor: pointer;
        &:hover{
            transform: scale(1.3);
        }
    }
}

.BG{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@include respond(lg){
    .slick-slider > button {
        display: none !important;
    }
}
